# ~
*
!.Xresources
!.config/polybar/config
!.config/
!.config/polybar/
!.config/polybar/events.sh
!.config/i3/
!.config/i3/config
!.gitignore
!.bashrc
!.ssh/config
!.config/rofi/config
!.config/wal/templates/colors-rofi-dark.rasi
