! special
*.foreground: #93a1a1
*.background: #3c3b37
*.cursorColor: #93a1a1

! black
*.color0: #928374
*.color8: #282828

! red
*.color1: #fb4934
*.color9: #cc241d

! green
*.color2: #b8bb26
*.color10: #98971a

! yellow
*.color3: #fabd2f
*.color11: #d79921

! blue
*.color4: #83a598
*.color12: #458588

! magenta
*.color5: #d3869b
*.color13: #b16286

! cyan
*.color6: #8ec07c
*.color14: #689d6a

! white
*.color7: #ebdbb2
*.color15: #a89984

Xcursor.size: 16